/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.ag-theme-balham .ag-icon {
    font-size: 25px!important;
    color: #158ef9!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body { margin: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ag-paging-page-summary-panel .ag-paging-button button {
    position: relative!important;
}